body {
    margin: 0;
    background-color: darkcyan;
    font-family: Monaco;
    font-weight: 500;
    font-style: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: aquamarine;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    font-size: larger;
    text-align: center;
    color: darkblue;
    padding-top: 15px;
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: red;
}

.logo {
    width: 7%;
    height: auto;
    float: left;
    padding: 10px 0;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: lightblue;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}